$red: rgb(228, 61, 29);
$white: rgb(223, 216, 212);
$blue: rgb(33, 127, 190);
$black: rgb(33, 34, 33);

$logo-font: "hwt-american-chromatic", sans-serif;
$subtitle-font: "fira-sans-2", sans-serif;
$body-font: "freight-text-pro", sans-serif;

$body-font-size: 1.4rem;
