extends layouts/h5bp.jade

block title
  title All the info! 

block content
  .index
    .section-padding
      .row.text-center
        .logo
          h3.subtitle.top-subtitle An insane text message based Amazing Race influenced 
          h1.title.columns
            span.red Dive 
            span.white 'n 
            span.blue Dash
          h3.subtitle.bottom-subtitle off-the-beaten-path pub crawl adventure.
    .red-background
      .row
        .medium-8.columns.medium-offset-2
          p We could tell you exactly what's about to happen during the course of this game. But that wouldn't be very much fun would it?
          p So we'll tell you what you need to play instead. Just trust us. You'll have a good time.
          ol
            li First we need your trust. We're going to send you to places you haven't been to before in Chattanooga. 
            li You'll need at least 4 players. You'll be split into two teams. 1 DD (someone has to drive) and 1 team lead. 
            li We'll need your phone numbers and the time you want to start. 
            li You'll be texted your first instructions at the time of your choosing. 
    .section
      .row.text-center
        h3.subtitle When you're ready to start a game text this number 
        h3.subtitle 404.567.6471

