extends layouts/h5bp.jade

block title
  title All the info! 

block content
  .section-padding
    .row.text-center
      h1 Chattanooga Dive 'n Dash
      h2 Dash around to Chattanooga's diviest dives while compeating against your friends to maintain Dive 'n Dash supremacy.
      p We could tell you exactly what's about to happen during the course of this game. But that wouldn't be very much fun would it?
      p So we'll tell you what you need to play instead. Just trust us. You'll have a good time.
    .row
      ul
        li First we need your trust. We're going to send you to places you haven't been to before in Chattanooga. 
        li You'll need at least 4 players. You'll be split into two teams. 1 DD (someone has to drive) and 1 team lead. 
        li We'll need your phone numbers and the time you want to start. 
        li You'll be texted your first instructions at the time of your choosing. 
  .row
    .small-3.columns.small-centered
      a.small-12.columns.button(href='/setup.html') dash

